<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <div class="top-strip"><span></span></div>
        <h2><div class="page-desc">User story manager<br>- {% if id_ %} Edit Story {% else %} Add new Story {% endif %}</div></h2>
        
        <div id="logo">
            <div id="Sup"></div><div id="uper"><span ></span></div>
            <div id="Sprinter"><span></span></div><div id="N3000"><span></span></div>
        </div>
        
        <div class="centre-box"><div id="form-bg">
        <form id="form"{% if id_ %} action="/story/{{ id_ }}" {% else %} action="/save-story" {% endif %} method="POST">            
            <p>
                Story title:<br>
                <input name="story_title" type="text" value="{{ title }}" />
            </p>
            <p>
                User story:<br>
                <textarea name="story">{{ story_desc }}</textarea>
            </p>
            <p>
                Acceptance criteria:<br>
                <textarea name="criteria">{{ criteria }}</textarea>
            </p>
            <p>
                Buisness value:<br>
                <input type="number" name="bis_value" min="100" max="1500" step="100"
                {% if id_ %} value="{{ bis_value }}" {% else %} value="100" {% endif %}>
            </p>
            <p>
                Estimation (h):<br>
                <input type="number" name="estimation" min="0.5" max="40" step="0.5" 
                {% if id_ %} value="{{ estimation }}" {% else %} value="0.5" {% endif %}>
            </p>
            <p>
                Status:<br>
                <select name="status">
                    <option value="Planning" {% if id_ and status == "Planning" %} selected {% endif %}>Planning</option>
                    <option value="TODO" {% if id_ and status == "TODO" %} selected {% endif %}>TODO</option>
                    <option value="In Progress" {% if id_ and status == "In Progress" %} selected {% endif %}>In Progress</option>
                    <option value="Review" {% if id_ and status == "Review" %} selected {% endif %}>Review</option>
                    <option value="Done" {% if id_ and status == "Done" %} selected {% endif %}>Done</option>
                </select>
            </p>
            <div class="centre-inline">                    
                <input type="submit" class="button" {% if id_ %} value="Update" {% else %} value="Create" {% endif %}/>
            </div>        
        </form>
        </div></div>
        <div class="bottom-strip"><span></span></div>
    </body>
</html>