<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <h1>User story manager</h1>
        <button type="submit" formmethod="GET" onclick="location.href='../story'">Add new Story</button>
        <p>
            {% if story == None %}
                The story.csv is missing
            {% else %}
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>Story title</th>
                        <th>User story</th>
                        <th>Acceptance criteria</th>
                        <th>Buisness value</th>
                        <th>Estimation</th>
                        <th>Status</th>
                        <th>Edit/Delete</th>
                    </tr>
                    {% for line in all_story%}
                        <tr>
                            {% for value in line %}
                                <td> {{ value }} </td>
                            {% endfor %}
                            <td>
                                <form action="/story/{{ line[0] }}" method="GET">
                                    <input type="image" src="/static/img/edit.png" width="20px" height="20px"/>
                                </form>
                                <form action="/delete-story/{{ line[0] }}" method="POST">
                                    <input type="image" src="/static/img/trash.png" width="20px" height="20px"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </p>   
    </body>
</html>