<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <h1>User stroy manager</h1>
        <a href="/edit-story" class="button"></a>
        <p>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Story title</th>
                    <th>User story</th>
                    <th>Acceptance criteria</th>
                    <th>Buisness value</th>
                    <th>Estimation</th>
                    <th>Status</th>
                    <th>Edit/Delete</th>
                </tr>
                
            </table>
        </p>
        
    </body>
</html>