<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <h1>User stroy manager</h1>
        <form action="/story" method="GET">
            <input type="submit" value="Add new Story"/>
        </form>
        <p>
            {% if story == None %}
                The story.csv is missing
            {% else %}
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>Story title</th>
                        <th>User story</th>
                        <th>Acceptance criteria</th>
                        <th>Buisness value</th>
                        <th>Estimation</th>
                        <th>Status</th>
                        <th>Edit/Delete</th>
                    </tr>
                    {% for line in story%}
                        <tr>
                            {% for value in line %}
                                <td> {{ value }} </td>
                            {% endfor %}
                            <td>
                                <a href="/story/2">
                                    <img src="/static/img/edit.png" width="20px" height="20px" alt="edit">
                                </a> 
                                <a href="/delete-story/4">
                                <img src="/static/img/trash.png" width="20px" height="20px" alt="delete">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </p>
        
    </body>
</html>